@media (max-width: 640px) {
  tbody{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  table{
    border: none;
  }

  td {
    display: block;
    width: 100%;
    color: #3F3F46;
    font-size: 18px;
  }
  .dark td{
    color: white;
  }
  td::before {
    content: attr(data-label);
    font-weight: 500;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    color: #A1A1AA;
    text-transform: uppercase;
  }
}