@media (max-width: 640px) {
  td {
    display: block;
    width: 100%;
  }

  td::before {
    content: attr(data-label);
    font-weight:600;
    font-size: small;
    display: block;
    white-space: nowrap;
    color: #A1A1AA;
    text-transform: uppercase;
  }
}